$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$color-dark-blue: #08255c;
$color-blue:      #1d3f82;
$color-gold:      #ffcf00;
$color-red:       #b41c1c;
$color-white:     #ffffff;
$color-text-gray: #303030;

$def-font-family: Epilogue, Roboto, sans-serif;
$def-font-size:   1em;

@function divide($a, $b) {
  @return $a / $b;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0px;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:visited {
    color: $color-dark-blue;
  }
  &:hover {
    color: $color-dark-blue;
    text-decoration: underline;
  }
}

p {
  margin: 0;
  padding-bottom: 1em;
}

// header
.navbar {
  padding: 2em;
  display: flex;
}

img.logo {
  max-height: 100px;
}

// footer
footer {
  background-color: $color-dark-blue;
  color: $color-white;
  padding: 2em;
  text-align: right;
  a {
    color: $color-white;
    &:hover {
      color: $color-gold;
    }
    &:visited {
      color: $color-white;
    }
  }
  span {
    padding: 0 .5em 0 0;
  }
}

// body
.vrph-bg {
  position: absolute;
  z-index: -1;
  opacity: .2;
  img {
      width: 100vw;
      height: 52vw;
  }
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 52vw;
  background-color: $color-dark-blue;
  z-index: -2;
}
#white-space-1 {
  height: 28vw;
}
.white-bg {
  padding: 2em;
  background-color: $color-white;
  border-radius: 24px;
}

.center-label {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: .5em 0;
}

a.row-item {
  color: $color-text-gray;
  margin: 0 .5em;
  &:hover {
    color: $color-text-gray;
    text-decoration: none;
    background-color: $color-gold;
  }
  &:visited {
    color: $color-text-gray;
    text-decoration: none;
  }
}

//
@media (min-width: 1024px) {
  div.navbar {
    justify-content: space-between;
  }
  div#nav {
    font-size: 3em;
    text-align: right;
    align-self: center;
  }
  .wrapper {
    width: 800px;
    margin: 0 auto;
  }

  div.row-item {
    width: 380px;
    margin: 2em;
    div {
      padding: .5em 0;
    }
    .icon {
      font-size: 5em;
      text-align: center;
    }
    .list-title {
      font-weight: bold;
      font-size: 1.5em;
    }
    .list-desc{
      text-align: justify;
    }
  }
}

@media screen and (max-width: 1023px) {
  body {
    font-size: 1.25em;
    line-height: 1.3em;
  }
  .wrapper {
    margin: 0 1em;
  }
  .white-bg {
    padding: 1em;
  }

  .navbar {
    padding: 1.5em;
  }
  img.logo {
    max-width: 80vw;
  }
  div.logo {
    margin: auto;
  }

  div.row-item {
    max-width: 92vw;
    margin: 2em;
    div {
      padding: .5em 0;
    }
    .icon {
      font-size: 5em;
      text-align: center;
    }
    .list-title {
      font-weight: bold;
      font-size: 1.5em;
    }
    .list-desc{
      text-align: justify;
    }
  }
}
